
/* styling of top page */
.TopPageDiv{
  padding-top: 5%;
  background-color: #62a845;
  color: white;
}
.logoDiv{
  text-align: center;
}
.TopPageContentDiv{
  display: flex;
  column-gap: 5%;
  padding: 1%;
  margin-left: 5%;
}
.Content{
  padding: 1%;
  width: 40%;
}
.flex{
  display: flex;
  /* justify-content: space-between; */
  column-gap: 5%;
}
.FormDiv{
  /* width: 90%; */
  padding: 10%;
  background-color: #67c040;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 3px;
  border-style: none;
}
.inputDiv{
  width: 100%;
}
/* button styling */
.button{
  background-color: #fc2970;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 10%;
  padding-left: 10%;
  border-style: none;
  font-size: 20px;
}
.midPageHeadDiv{
 text-align: center;
 font-size: 20px;
}
.MidPage{
  padding: 5%;
}
.MidPageContent{
  display: flex;
  column-gap: 5%;
  padding-left: 8%;
  padding-top: 2%;
}
.MidPageContent-col1{
  width: 40%;
}
.MidPageContent-col2{
  /* width: 30%; */
  text-align: center;
  margin-left: 12%;
}
/* styling of bottom page */
.BottomPage{
  background-color: #f5f6f8;
  padding: 1%;
}
.BottomHead{
  text-align: center;
}
.BottomPageBox{
  background-color: #67c040;
  text-align: center;
  padding: 2%;
  width: 20%;
  color: white;
  font-size: 20px;
  margin: 1%;
}
.bottompageRow2{
  display: flex;
  width: 100%;
}
.button2{
  text-align: center;
  margin-left: 40%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #fc2970;
  border-radius: 5px;
  border-style: none;
}
/* Forth PAge styling */
.ForthPageDiv{
  display: flex;
  /* column-gap: %; */
  justify-content: space-between;
  
  padding-left: 8%;
  padding-right: 7%;
}
.ForthPage{
  background-color: #61a745;
}
.CardDiv{
  width: 40%;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  color: white;
}
.Image{
  width: 50%;
}
/* footer styling */
.footer{
  padding: 2%;
  display: flex;
  background-color: black;
  column-gap: 8%;
  justify-content: space-between;
  color: white;
}
.footer-Col1{
  padding-left: 12%;
  width: 40%;
}
.footer-Col1{
  margin-top: 2%;
}
/* adding media query */
@media only screen and (max-width: 500px) {
  div.TopPageContentDiv {
    display: inline;
  }
}
@media only screen and (max-width: 500px) {
  div.FormDiv {
    width: 50%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 500px) {
  div.Content {
    width: 50%;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 500px) {
  div.TopPageContentDiv {
    display: inline;
  }
}
@media only screen and (max-width: 500px) {
  div.MidPageContent {
    display: inline;
    text-align: center;
  
  }
}
@media only screen and (max-width: 500px) {
  div.MidPageContent-col1{
   
    margin-left: 35%;
  }
}
@media only screen and (max-width: 500px) {
  div.flex {
    display: inline;
  }
}
@media only screen and (max-width: 687px) {
  div.bottompageRow2 {
    display: inline;
  }
}
@media only screen and (max-width: 687px) {
  div.BottomPageBox {
    /* text-align: center; */
    margin-left: 50%;
    width: 20%;
  }
}
@media only screen and (max-width: 500px) {
  div.ForthPageDiv {
    display: inline;
    
  }
}
@media only screen and (max-width: 500px) {
  div.CardDiv {
   margin-left: 20%;
    
  }
}